.uk-card {
    border: 0px solid gray;
  }
  
  .start-collapse {
    align-items: flex-start;
  
  }
  .section-padding {
      padding: 12px;
  }
  
  .left-corrector {
    padding: 0px;
  }
  
  .starred > div {
    background: #ffffe3;
  }
  
  .event-card {
    border-left: 6px solid transparent;
    border-radius: 9px;
    word-wrap: break-word;
  }
  .flex-space {
        display: flex;
      justify-content: space-between;
  }
  .event-section {
    transition: all ease 0.3s;
    border-top: 1px solid #80808014;
  }
  .event-section:hover {
    background-color: #ebebea;
  }
  
  .uk-card-body > p:first-child, .uk-card-body > div:first-child {
    margin-top: 0px;
  }
  .event-card > div {
    padding: 5px 20px !important;
  }
  .event-section .uk-text-lead {
    font-size: 1.2rem;
    line-height: 1.5;
    color: #333;
    font-weight: 500;
  }
  .eventor-today {
    color: #03A9F4;
    border: 3px solid;
  } 
  .eventor-today .uk-text-lead {
    color: #03A9F4;
  }
  .eventor-hiddenrow {
    /* display: none; */
  }


  .evt-navigation  .uk-button  {
    padding: 0 12px;
  }

  .evt-card-title {
    font-size: 1.2rem;
    line-height: 1.3;
    font-weight: 400;
  }

  .evt-modal-header-title {
    font-size: 1.5rem;
  }

  .uk-modal-footer {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
}
.uk-modal-footer > div {
  display: grid;
    grid-template-columns: auto auto auto;
}

.evt-input-fullscreen {
  display: block;
  z-index: 999999;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
}
.evt-textarea-toggle {
  top: 0;
  right: 0;
  padding: 10px;
  position: absolute;
  color: white;
}

#eventor_body .uk-sticky-placeholder {
  display: none;
}
#eventor_body {
  padding-bottom: 88px;
}
.evt-toolbar-sectionname {
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 12px;
  font-weight: 500;
}

.evt-tooltop .uk-button {
  padding: 0 12px;
}
.evt-card-wrapper {
  word-break: break-word;
}
.evt-card-wrapper.evt-starred > div {
  background: #fffad1;
}
.evt-card-wrapper:not(:last-child){
  margin-bottom: 6px;
}

.evt-modal-container-wrapper {
  padding:  12px;
  height: calc(100vh - 24px);
  display: block;
}

.evt-modal-container {
  padding: 0px;
  background: #ffffffd1;
  border-radius: 9px;
  display: grid;
  grid-template-rows: min-content auto min-content;
  height:  100%;
  backdrop-filter: blur(1px);
}
.evt-modal-container .uk-button {
 border-radius: 6px;
}
.evt-section-card, .evt-category-card {
  border-left: 9px solid white;
  border-radius: 9px;
  margin-bottom: 6px;
  background-color: white;
  padding: 9px;
  padding-bottom: 3px;
}
.evt-cat-group-list {
  display: flex;
  padding-top: 3px;
  flex-direction: row;
  flex-wrap: wrap;
}
.evt-catgroup-s-item {
  display: block;
    font-size: 0.9rem;
    background: #e5e5e5;
    margin: 2px;
    border-radius: 12px;
    padding: 0px 12px;
}
.evt-sect-card-content {
  color: gray;
  padding-top: 3px;
}
@media only screen and (max-width: 639px) {
  .evt-modal-container-wrapper {
    padding:  0px;
    height: 100vh;
  }
}
.evt-section-name-in, .evt-category-name-in {
  width: calc(100% - 100px);
  border: 0px;
  font-size: 1.1rem;
}
.evt-section-content-in, .evt-category-content-in {
width: 100%;
color: gray;
border: none;
font-family: system-ui;
}
.uk-align-right {
  margin-bottom: 0px;
}


/* .evt-section-group-trigger {
  display: inline-flex;
  padding-top: 0px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 2px;
  cursor: pointer;
} */

.evt-grid-header {
  display: grid;
  grid-template-columns: calc(100% - 100px) auto;
  justify-content: space-between;
  justify-items: stretch;
}

.evt-badge {
  font-size: 13px;
  padding-left: 9px;
  padding-right: 9px;
  box-shadow: 0px 2px 4px #00000059;
}

.evt-disabled > div {
  background-color: #ebebeb;
    border-bottom: 1px solid;
    border-top: 1px solid;
    border-right: 1px solid;
}
.evt-archieved > div {
  background-color: #c4f1ff;
  box-shadow: inset 0px 0px 63px #00000024;
}
 
.evt-reader-body > div , .evt-off-reader-body > div {
  margin-bottom: 8px;
}
.evt-list-item {
  display: list-item;
  margin-left: 18px;
  margin-bottom: 3px !important;
}
.evt-input-fullscreen {
  padding: 1rem;
  font-size: 1.1rem;
  max-height: 100vh;
}

.evt-full-trigger {
  padding: 6px;
  display: block;
  width: 22px;
  margin-top: -35px;
  font-size: 1.3rem;
  color: #879bab;
  cursor: pointer;
  float: right;
}

.evt-full-trigger-fullscreen {
  display: block;
  z-index: 9999099;
  position: absolute;
  top: 10px;
  right: 22px;
  margin-top: 0px;
}

.evt-restrictor {
  display: grid;
}
.evt-restrictor > * {
  font-size: 1.2rem;
  padding: 3px;
}

.cl-nav {
  margin-top: 12px;
  margin-bottom: 12px;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  justify-content: center;
  font-family: monospace;
}
.cl-nav-button {
  padding: 4px;
  font-size: 1.1rem;
  min-width: 30px;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
  border: 1px solid #ebebeb;
  border-left: 0px;
  border-right: 0px;
  background-color: #f3f3f3;
  color: dimgray;
  transition: all ease 0.3s;
}
.cl-nav-button > input {
  border: transparent;
  background-color: transparent;
  font-size: 1.1rem;
  letter-spacing: -1px;
  color: gray;
}
.cl-nav-button:last-child {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 2px;
  border-right: 1px solid #ebebeb;
}
.cl-nav-button:first-child {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  border-left: 1px solid #ebebeb;
}
.cl-nav-button:hover {
  background-color: lightgray;
}
.cl-nav-button:active {
  background-color: rgb(180, 191, 204);
}

.cl-row {
  display: grid;
  grid-template-columns: 110px auto;
}
.cl-row:last-child {

  border-bottom: 0px;
}
@media screen and (max-width: 900px) {
  .cl-row {
  display: grid;
  grid-template-columns: auto;
  }
}
.cl-row > div, .cl-restrictor > div {
  
}
.cl-restrictor {
  text-align: center;
  font-weight: bold;
}
.evt-section-group-trigger {
  min-width: 22px;
  border-radius: 1px;
  padding: 0px 6px;
  color: #373737;
}
.evt-sec-cat-selector {
  display: block;
  width: 0px;
  opacity: 0;
}
.evt-cs-open {
  opacity: 1;
  position: fixed;
  width: 200px;
  height: 60vh;
  z-index: 9;
  right: 100px;
  top: 20vh;
  box-shadow: 1px 3px 7px #00000052;
  border: 0px;
  padding: 6px;
  font-size: 1.05rem;
  border-radius: 6px;
}
.evt-s-selected {
  border: 2px solid #03A9F4;
  box-shadow: 1px 3px 7px #8f8f8f;
}
.evt-found {
  background-color: yellow;
}

.uk-grid-stack > div {
  margin-top: 9px !important;
}

#eventor_search_content .evt-card-wrapper {
  opacity: 1;
  transition: opacity 0.5s;
}
#eventor_search_content.evt-lazy-load .evt-card-wrapper:last-child {
  opacity: 0;
}
.evt-reader-title {
  font-size: 1.25rem;
}
.evt-founded > div {
  outline: 2px solid #03A9F4;
  box-shadow: 3px 4px 0 4px #03a7f1;
}
.evt-sec-founded {
  border: 2px solid #03a9f4;
  background: repeating-linear-gradient( -45deg, #dddddd, #dddddd 10px, #e7f7ff 10px, #e7f7ff 20px );
}
.evt-sec-founded:hover {
  background: repeating-linear-gradient( -45deg, #d3d3d3, #d3d3d3 10px, #e1f3fc 10px, #e1f3fc 20px );
}
.evt-sec-founded .uk-first-column {
  background: #ffffff69;
  backdrop-filter: blur(4px);
}