.uk-card {
    border: 0px solid gray;
  }
  
  .start-collapse {
    align-items: flex-start;
  
  }
  .section-padding {
      padding: 12px;
  }
  
  .left-corrector {
    padding: 0px;
  }
  
  .starred > div {
    background: #ffffe3;
  }
  
  .event-card {
    border-left: 6px solid transparent;
    border-radius: 9px;
    word-wrap: break-word;
  }
  .flex-space {
        display: flex;
      justify-content: space-between;
  }
  .event-section {
    transition: all ease 0.3s;
    border-top: 1px solid #80808014;
  }
  .event-section:hover {
    background-color: #ebebea;
  }
  
  .uk-card-body > p:first-child, .uk-card-body > div:first-child {
    margin-top: 0px;
  }
  .event-card > div {
    padding: 5px 20px !important;
  }
  .event-section .uk-text-lead {
    font-size: 1.2rem;
    line-height: 1.5;
    color: #333;
    font-weight: 500;
  }
  .eventor-today {
    color: #03A9F4 !important;
    border: 3px solid;
  } 
  .eventor-today .uk-text-lead {
    color: #03A9F4 !important;
  }
  .eventor-hiddenrow {
    /* display: none; */
  }


  .evt-navigation  .uk-button  {
    padding: 0 12px;
  }

  .evt-card-title {
    font-size: 1.25rem;
    line-height: 1.2;
    font-weight: 400;
  }
  .evt-card-body {
    font-size: 0.9rem;
  }
  .evt-card-header {
    border-bottom: 1px solid #dddddd;
    margin-bottom: 12px;
  }
  .evt-modal-header-title {
    font-size: 1.5rem;
  }

  .uk-modal-footer {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
}
.uk-modal-footer > div {
  display: grid;
    grid-template-columns: auto auto auto;
}

.evt-input-fullscreen {
  display: block;
  z-index: 999999;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
}
.evt-textarea-toggle {
  top: 0;
  right: 0;
  padding: 10px;
  position: absolute;
  color: white;
}

#eventor_body .uk-sticky-placeholder {
  display: none;
}
#eventor_body {
  padding-bottom: 88px;
}
.evt-toolbar-sectionname {
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 12px;
  font-weight: 500;
}

.evt-tooltop .uk-button {
  padding: 0 12px;
}
.evt-card-wrapper {
  word-break: break-word;
}
.evt-card-wrapper.evt-starred > div {
  /* background: #fffad1; */
  outline: 2px dashed;
}
.evt-card-wrapper:not(:last-child){
  margin-bottom: 6px;
}

.evt-modal-container-wrapper {
  padding:  12px;
  height: calc(100vh - 24px);
  display: block;
}

.evt-modal-container {
  padding: 0px;
  background: #ffffffd1;
  border-radius: 9px;
  display: grid;
  grid-template-rows: min-content auto min-content;
  height:  100%;
  backdrop-filter: blur(1px);
}
.evt-modal-container .uk-button {
 border-radius: 6px;
}
.evt-section-card, .evt-category-card {
  border-left: 9px solid white;
  border-radius: 9px;
  margin-bottom: 6px;
  background-color: white;
  padding: 9px;
  padding-bottom: 3px;
}
.evt-cat-group-list {
  display: flex;
  padding-top: 3px;
  flex-direction: row;
  flex-wrap: wrap;
}
.evt-catgroup-s-item {
  display: block;
    font-size: 0.9rem;
    background: #e5e5e5;
    margin: 2px;
    border-radius: 12px;
    padding: 0px 12px;
}
.evt-sect-card-content {
  color: gray;
  padding-top: 3px;
}
@media only screen and (max-width: 639px) {
  .evt-modal-container-wrapper {
    padding:  0px;
    height: 100vh;
  }
}
.evt-section-name-in, .evt-category-name-in {
  width: calc(100% - 100px);
  border: 0px;
  font-size: 1.1rem;
}
/* .evt-category-content-in {
width: 100%;
color: gray;
border: none;
font-family: system-ui;
} */
.uk-align-right {
  margin-bottom: 0px;
}


/* .evt-section-group-trigger {
  display: inline-flex;
  padding-top: 0px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 2px;
  cursor: pointer;
} */

.evt-grid-header {
  display: grid;
  grid-template-columns: calc(100% - 120px) auto;
  justify-content: space-between;
  justify-items: stretch;
}
.evt-grid-icons {
  display: flex;
  align-items: center;
  width: 84px;
  justify-content: space-between;
}

.evt-badge {
  font-size: 13px;
  padding-left: 9px;
  padding-right: 9px;
  box-shadow: 0px 2px 4px #00000059;
}

.evt-disabled > div {
  background-color: #ebebeb;
    outline: 1px solid #8080805c;
}
.evt-archieved > div {
  background: repeating-linear-gradient( -45deg, #efefef, #efefef 10px, #fff8e7 10px, #fff8e7 20px );
  outline: 1px solid #8080805c;
}
.evt-disabled input, .evt-archieved input {
  background: transparent;
}
 
.evt-reader-body > div , .evt-off-reader-body > div {
  margin-bottom: 8px;
  word-break: break-word;
}
.evt-list-item {
  display: list-item;
  margin-left: 18px;
  margin-bottom: 3px !important;
  list-style: initial;
}
.evt-input-fullscreen {
  padding: 1rem;
  font-size: 1.1rem;
  max-height: 100vh;
}

.evt-full-trigger {
  padding: 6px;
  display: block;
  width: 22px;
  margin-top: -35px;
  font-size: 1.3rem;
  color: #879bab;
  cursor: pointer;
  float: right;
}

.evt-full-trigger-fullscreen {
  display: block;
  z-index: 9999099;
  position: absolute;
  top: 10px;
  right: 22px;
  margin-top: 0px;
}

.evt-restrictor {
  display: grid;
}
.evt-restrictor > * {
  font-size: 1.2rem;
  padding: 3px;
}

.cl-nav {
  margin-top: 12px;
  margin-bottom: 12px;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  justify-content: center;
  font-family: monospace;
}
.cl-nav-button {
  padding: 4px;
  font-size: 1.1rem;
  min-width: 30px;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
  border: 1px solid #ebebeb;
  border-left: 0px;
  border-right: 0px;
  background-color: #ffffff5e;
  color: dimgray;
  transition: all ease 0.3s;
}
.cl-nav-button > input {
  border: transparent;
  background-color: transparent;
  font-size: 1.1rem;
  letter-spacing: -1px;
  color: gray;
}
.cl-nav-button:last-child {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 2px;
  border-right: 1px solid #ebebeb;
}
.cl-nav-button:first-child {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  border-left: 1px solid #ebebeb;
}
.cl-nav-button:hover {
  background-color: lightgray;
}
.cl-nav-button:active {
  background-color: rgb(180, 191, 204);
}

.cl-row {
  display: grid;
  grid-template-columns: 110px auto;
  user-select: none;
}
.cl-row:last-child {

  /* border-bottom: 0px; */
}
 .stb-mobile {
  display: none;
}
.stb-full {
  display:  inline-block;;
} 

@media screen and (max-width: 900px) {
  .cl-row {
  display: grid;
  grid-template-columns: auto;
  }
  .evt-toolbar-sectionname {
    font-size: 0.8rem;
  }
  .stb-mobile {
    display:  inline-block;
  }
  .stb-full {
    display:  none;
  } 
}
.cl-row > div, .cl-restrictor > div {
  
}
.cl-restrictor {
  text-align: center;
  font-weight: bold;
}
.evt-section-group-trigger {
  min-width: 22px;
  border-radius: 1px;
  padding: 0px 6px;
  color: #373737;
}
.evt-sec-cat-selector {
  display: block;
  /* width: 0px;
  opacity: 0;
  height: 0px; */
}
.evt-cs-open {
  /* opacity: 1;
  position: fixed;
  width: 200px;
  height: 60vh;
  z-index: 9;
  right: 100px;
  top: 20vh;
  box-shadow: 1px 3px 7px #00000052;
  border: 0px;
  padding: 6px;
  font-size: 1.05rem;
  border-radius: 6px; */
}
.evt-s-selected {
  border: 2px solid #03A9F4;
  box-shadow: 1px 3px 7px #8f8f8f;
}
.evt-found {
  background-color: yellow;
}

.uk-grid-stack > div {
  margin-top: 9px !important;
}

#eventor_search_content .evt-card-wrapper {
  opacity: 1;
  transition: opacity 0.5s;
}
#eventor_search_content.evt-lazy-load .evt-card-wrapper:last-child {
  opacity: 0;
}
.evt-reader-title {
  font-size: 1.25rem;
}
.evt-founded > div {
  outline: 2px solid #03A9F4;
  box-shadow: 3px 4px 0 4px #03a7f1;
}
.evt-sec-founded {
  border: 2px solid #03a9f4;
  background: repeating-linear-gradient( -45deg, #dddddd, #dddddd 10px, #e7f7ff 10px, #e7f7ff 20px );
}
.evt-sec-founded:hover {
  background: repeating-linear-gradient( -45deg, #d3d3d3, #d3d3d3 10px, #e1f3fc 10px, #e1f3fc 20px );
}
.evt-sec-founded .uk-first-column {
  background: #ffffff69;
  backdrop-filter: blur(4px);
}

.evt-sec-subeditor, .evt-cat-subeditor {
  background: white;
  padding: 12px;
  border-radius: 9px;
  margin-bottom: 22px;
  margin-top: -3px;
  border-left: 9px solid white;
}

.th-navbar-item a {
  color: white;
}
.evt-stickybar-button {
  padding: 0px 12px;
  border: none;
  background-color: transparent;
  color: #6f6f6f;
}
.evt-stickybar-button > button {
  padding-right: 16px;
    cursor: pointer;
}
.evt-mod-typetrig {
  user-select: none;
}
.evt-event-color.active {
  background-color: #76c38530;
}
.evt-action-color.active {
  background-color: #d1b50030;
}
.evt-note-color.active {
  background-color: #9c27b029;
}
.evt-task-color.active {
  background-color: #ff960036;
}
.evt-synopsis-color.active {
  background-color: #0075ff3b;
}
.evt-info-color.active {
  background-color: #00d9cd54;
}

.uk-notification-message {
  background-color: #00000059;
  backdrop-filter: blur(12px);
  padding: 6px;
  border-radius: 6px;

}
.uk-notification-message-success {
  background-color: #048b005c;
    backdrop-filter: blur(12px);
    color: white;
    text-shadow: 0 0 14px #000000a1;
}
.uk-notification-message-primary {
  background-color: #01bedcc7;
  backdrop-filter: blur(12px);
  color: white;
  text-shadow: 0 0 14px #00547a;
}

.evt-modal-type_triggers {
  display: grid;
    grid-template-columns: auto auto auto;
    text-align: center;
    font-size: 1.1rem;
    text-transform: lowercase;
    letter-spacing: 3px;
  }
  @media screen and (min-width: 768px){
    .evt-modal-type_triggers {
        grid-template-columns: auto auto auto auto auto auto;
    }
  }
.evt-modal-type_triggers > div {
    background-color: #8080801a;
    cursor: pointer;
    
}
.evt-modal-type_triggers > div.active {
  text-transform: uppercase;
}

.evt-type-event .uk-card-header {
 background-color: #76c38530;
 background: linear-gradient(192deg, rgb(0 179 36 / 20%) 0%, rgb(18 181 0 / 5%) 100%);
}
.evt-type-action .uk-card-header {
  background-color: #d1b50030;
  background: linear-gradient(192deg, rgb(241 211 0 / 28%) 0%, rgb(193 180 0 / 5%) 100%);
}
.evt-type-synopsis .uk-card-header {
  background-color: #21a7f12e;
  background: linear-gradient(192deg, rgb(29 152 253 / 36%) 0%, rgb(0 159 255 / 4%) 100%);
}

.evt-type-task .uk-card-header {
  background-color: #76c38530;
  background: linear-gradient(192deg, rgb(231 110 0 / 20%) 0%, rgb(255 148 0 / 5%) 100%);
 }
 .evt-type-note .uk-card-header {
   background-color: #ca00d130;
   background: linear-gradient(192deg, rgb(4 0 231 / 20%) 0%, rgb(7 0 255 / 5%) 100%);
 }
 .evt-type-info .uk-card-header {
   background-color: #21eaf12e;
   background: linear-gradient(192deg, rgb(0 231 195 / 20%) 0%, rgb(0 236 255 / 5%) 100%);
 }



 .evt-card-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.evt-card-title > span {
  display: grid;
  align-items: start;
  grid-gap: 6px;
}

.evt-type-action {
  /* border-radius: 1.1rem;
  border-top: 1px dashed #b1b0b0;
    border-right: 1px dashed #b1b0b0;
    border-bottom: 1px dashed #b1b0b0;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px; */
}
.evt-type-note {
  /* border-style: dashed;
  border-left-width: 4px; */
  border-radius: 0px;
}
.evt-edit-button {
  text-transform: capitalize;
}

pre {
  background: #3b3b3b;
  color: white;
  padding: 1rem;
  border-radius: 6px;
  display: block;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
pre > code > span {
  display: contents;

}
pre > code {
  /* display: block;
    height: 100%;
    width: fit-content; */
    display: contents;
}
.evt-ctitle-string {
  display: flex !important;
}
.row-weekend {
  background-color:#00000015;
  color: gray;
}
.row-weekend:hover {
  background-color:#0000001C;
}



.evt-mini-nav {
  display: block;
  position: fixed;
  
  bottom: 2rem;
  right: 1rem;
  backdrop-filter: blur(3px);
}
.evt-mini-nav-buttons > div {
  padding: 0.6rem;
  background-color: #00000045;
  color: #252525;
}
.evt-mini-nav-buttons > div:hover {
  background-color: #0000001e;
  cursor: pointer;
}
.evt-open-button {
  border: none;
  background-color: transparent;
}

.evt-category-row {

  width: 100%;

}
.evt-catgroup-f-item:first-child {
  margin-left: 40px;
}
.evt-catgroup-f-item {
  display: flex;
  margin: 3px;
  border-radius: 6px;
  min-width: 82px;
  padding: 0.3rem;
  align-content: center;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.499);
  cursor: pointer;

  transition: all ease 0.2s;
  user-select: none;
  box-shadow: 1px 1px 6px gray;
  backdrop-filter: blur(12px);
}
.evt-catgroup-f-item:hover {
  background-color: white;
}
.evt-catgroup-f-item.active {
  opacity: 1;
  background: #3e3e3e;
  color: white;
  outline: 2px solid #3e3e3e;
}
.evt-dd-background {
  background: transparent;
  /* backdrop-filter: blur(6px); */
  box-shadow: none;
}